*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body {
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1{
  font-size: 45px;
}
.container{
  padding: 30px;
  background-color:#ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons{
  margin:18px 0;

  display: flex;
  gap: 18px;
  
}
button {
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: opacity 0.5s ease-in-out;
}
button:hover{
  opacity: 0.7;
}

#rock{
  background-color:#5442ff ;
  width:83px ;
  height:87 ;
}
#paper{
  background-color:#7efd34 ;
  width:83px ;
  height:87 ;
}
#scissors{
  background-color:#008ae6 ;
  width:83px ;
  height:87 ;
}

p{
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px;
}
.your-score span {
  color: #00aeff;
}

.machine-score span {
  color: rgb(255, 102, 0);
}